
.container{
    margin: 0px auto !important;
    background-color: white;
}
.background{
    background-color: rgb(245, 243, 243);
}
.top-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.basic-details-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 120px 120px 100px;
    margin-left: 15%;
    margin-top: 55px;
}
.price-details{
    display: flex;
    align-items: center;
}
.price{
    margin-right: 30px;
}
.actual-price{
    font-size: x-large;
    opacity: 50%;
    text-decoration: line-through;
}
.item-description{
    padding: 5px;
}
.action-buttons{
    margin-right: 10%;
    align-items: center;
}
.rating{
    display: flex;
    align-items: flex-end;
}
.submit-button{
    margin-left: 20px;
    margin-top: 10px;
}
.review-input{
    height: 25vh;
    width: 100%;
    resize:none
}
.rating-stars{
margin: 0;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-image{
    min-height: fit-content;
    min-width: fit-content;
}